/.github                export-ignore
/docker                 export-ignore
/docs                   export-ignore
/tests                  export-ignore
/.env.testing           export-ignore
/.gitattributes         export-ignore
/.gitbook.yaml          export-ignore
/.gitignore             export-ignore
/.travis.yml            export-ignore
/.codeception.dist.yml  export-ignore
/composer.lock 			export-ignore
/grumphp.yml            export-ignore
/Makefile               export-ignore
/src/phpcs.xml			export-ignore
