.env.testing     	        export-ignore
.git                    	export-ignore
.gitattributes          	export-ignore
.gitbook.yaml           	export-ignore
.github                 	export-ignore
.gitignore              	export-ignore
.travis.yml             	export-ignore
_build                  	export-ignore
codeception.dist.yml        export-ignore
composer.codecept-4.json    export-ignore
composer.lock 			    export-ignore
docker                  	export-ignore
docker-compose.yml          export-ignore
docker-compose.debug.yml    export-ignore
dynamicReturnTypeMeta.json  export-ignore
docs                    	export-ignore
Makefile                    export-ignore
phpcs.xml			        export-ignore
phpstan.neon.dist           export-ignore
tests                   	export-ignore
