# Exclude all build files
/.github                    export-ignore
/bin                        export-ignore
/containers                 export-ignore
/docs                       export-ignore
/tests                      export-ignore
/.env.testing               export-ignore
/.gitattributes             export-ignore
/.gitbook.yaml              export-ignore
/.gitignore                 export-ignore
/codeception.dist.yml       export-ignore
/composer.codecept-4.json   export-ignore
/composer.lock              export-ignore
/composer.codecept-4.lock   export-ignore
/docker-compose.yml         export-ignore
/dynamicReturnTypeMeta.json export-ignore
/Makefile                   export-ignore
/phpcs.xml                  export-ignore
/phpstan.neon.dist          export-ignore
