# PhpStorm and MacOS misc. files.
.idea
.DS_Store

_build/*.zip
_build/*.gz

# Composer files.
vendor/

# Local test configuration files.
codeception.yml
tests/*.suite.yml
.env.testing.local
tests/_output

# Cache folder.
.cache

# Patchwork cache folder.
src/Codeception/Module/patchwork.json
src/includes/patchwork.json
composer.lock

# Some local vim files
tags
*.swp

# Release notes
.rel

# Backup files and folders
*.bak

# WordPress test directory.
_wordpress
wp-cli.yml

composer.codecept-4.lock
