# PhpStorm and MacOS misc. files.
.idea
.DS_Store

# Composer files.
vendor/

# Local test configuration files.
codeception.yml
tests/*.suite.yml
.env.testing.local
tests/_output

# Cache folder.
.cache

# Patchwork cache folder.
src/Codeception/Module/patchwork.json
lib/includes/patchwork.json
composer.lock

# Some local vim files
tags
*.swp

# Release notes
.rel

# Backup files and folders
*.bak

# The docker configuration file, produced in the make `build` target.
.env.testing.docker

# iidfiles for containers
_build/_container/php/iidfile
_build/_container/wordpress/iidfile
