# PhpStorm and MacOS misc. files.
.idea
.DS_Store

# Composer files.
vendor/

# Cache
var

# Local configuration files.
codeception.yml
tests/*.suite.yml
tests/_output
docker-compose.override.yml

# Patchwork cache folder.
src/Codeception/Module/patchwork.json
lib/includes/patchwork.json
composer.lock

# Release notes
.rel

# Backup files and folders
*.bak
