sudo: required

language: php

notifications:
  email: false

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - env: wpVersion=nightly

services:
  - mysql

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

env:
  global:
    - wpFolder=/tmp/wordpress
    - wpDbName=test
    - wpLoaderDbName=wploader
    - wpDbPrefix=wp_
    - wpUrl=wordpress.dev
    - wpAdminUsername=admin
    - wpAdminPassword=admin
    - wpSubdomain1=test1
    - wpSubdomain1Title="Test Subdomain 1"
    - wpSubdomain2=test2
    - wpSubdomain2Title="Test Subdomain 2"
  matrix:
    - wpVersion=latest
    - wpVersion=nightly

before_install:
  - mysql -e "create database IF NOT EXISTS $wpDbName;" -uroot
  - mysql -e "create database IF NOT EXISTS $wpLoaderDbName;" -uroot

install:
  - composer update --prefer-dist

before_script:
  # set up folders
  - mkdir -p $HOME/tools /tmp/wordpress

  # install wp-cli
  - wget https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -P /tmp/tools/
  - chmod +x /tmp/tools/wp-cli.phar && mv /tmp/tools/wp-cli.phar /tmp/tools/wp
  - export PATH=$PATH:/tmp/tools:vendor/bin

  # install Apache and WordPress setup scripts
  - git clone https://github.com/lucatume/travis-apache-setup.git /tmp/tools/travis-apache-setup
  - chmod +x /tmp/tools/travis-apache-setup/apache-setup.sh
  - chmod +x /tmp/tools/travis-apache-setup/wp-install.sh
  - ln -s /tmp/tools/travis-apache-setup/apache-setup.sh /tmp/tools/apache-setup
  - ln -s /tmp/tools/travis-apache-setup/wp-install.sh /tmp/tools/wp-install

  # download and install WordPress
  - wp-install --version="$wpVersion" --dir=/tmp/wordpress --dbname="$wpDbName" --dbuser="root" --dbpass="" --dbprefix=wp_ --domain="wordpress.dev" --title="Test" --base=/ --admin_user=admin --admin_password=admin --admin_email=admin@wordpress.dev --theme=twentysixteen --multisite --subdomains
  - cd /tmp/wordpress
  - wp site create --slug=$wpSubdomain1 --title="$wpSubdomain1Title"
  - wp site create --slug=$wpSubdomain2 --title="$wpSubdomain2Title"
  - mkdir -p /tmp/wordpress/wp-content/mu-plugins

  # flush rewrite rules
  - wp rewrite structure '/%postname%/'

  # export a dump of the just installed database to the _data folder
  - cd /tmp/wordpress
  - wp db export $TRAVIS_BUILD_DIR/tests/_data/dump.sql

  # set up Apache virtual host
  - sudo env "PATH=$PATH" apache-setup --host="127.0.0.1" --url="$wpUrl" --dir="/tmp/wordpress"

  # set the path to the phantomjs bin in Phantoman
  - sed -i "s_%PHANTOMJS%_$(which phantomjs)_" $TRAVIS_BUILD_DIR/codeception.dist.yml

  # update WordPress database to avoid prompts
  - wp core update-db --network

  # Get back to Travis build dir
  - cd $TRAVIS_BUILD_DIR

script:
  - codecept run unit
  - codecept run acceptance
  - codecept run phantomjs
  - codecept run functional
  - codecept run climodule
  - codecept run wpmodule
  - codecept run wploadersuite
  - codecept run muloader
  - codecept run cli
