parameters:
  level: 5
  paths:
    - src/
  scanDirectories:
    - includes/
    - tests/
  treatPhpDocTypesAsCertain: false
  excludePaths:
    - src/WordPress/Version.php # Using the WordPress version file.
