---
import { Code } from 'astro/components'
import Layout from '../layouts/Base.astro';

const CODE = `# Require it as a dev dependency
composer require --dev lucatume/wp-browser
# Initialize it for your WordPress project
vendor/bin/codecept init wpbrowser`
---

<Layout title="Manual">
	<main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">wp-browser</h1>
        <p class="text-2xl my-8">
          Build <b class="text-green-600 dark:text-green-400">robust</b>, <b class="text-green-600 dark:text-green-400">modern</b> documentation sites with the Manual theme.
        </p>
        <a href="/docs/get-started/introduction" class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
          GET STARTED
        </a>
      </div>
      <div class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-green-500">
        <Code code={CODE} lang="sh"/>
      </div>
    </div>
    <div class="bg-green-700 dark:bg-zinc-800">
      <div class="max-w-6xl mx-auto md:py-16 p-8 text-center">
        <h1 class="text-white text-6xl font-bold mb-16">Start testing</h1>
        <div class="md:flex md:justify-center space-y-8 md:space-y-0 md:gap-x-8 dark:text-white">
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Card 1</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl.
              </p>
              <a href="/docs/get-started/introduction" class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
                LEARN
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Card 2</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl.
              </p>
              <a href="/docs/guides/migrate-from-z" class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
                MIGRATE
              </a>
            </div>
          </div>
          <div>
            <div class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl">
              <h2 class="text-2xl font-bold">Card 3</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl.
              </p>
              <a href="/docs/get-started/installation" class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded">
                INSTALL
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex md:flex-wrap">
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Point 1</h2>
        <p class="text-lg my-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate maxime corporis expedita consequuntur ipsa, eaque a suscipit, voluptatem voluptas excepturi aperiam magnam, eos quo est ipsam amet illo laboriosam consequatur.
        </p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Point 2</h2>
        <p class="text-lg my-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate maxime corporis expedita consequuntur ipsa, eaque a suscipit, voluptatem voluptas excepturi aperiam magnam, eos quo est ipsam amet illo laboriosam consequatur.
        </p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Point 3</h2>
        <p class="text-lg my-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate maxime corporis expedita consequuntur ipsa, eaque a suscipit, voluptatem voluptas excepturi aperiam magnam, eos quo est ipsam amet illo laboriosam consequatur.
        </p>
      </div>
      <div class="p-8 md:w-1/2">
        <h2 class="text-4xl font-bold my-4">Point 4</h2>
        <p class="text-lg my-8">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate maxime corporis expedita consequuntur ipsa, eaque a suscipit, voluptatem voluptas excepturi aperiam magnam, eos quo est ipsam amet illo laboriosam consequatur.
        </p>
      </div>
      <a href="/docs/get-started/introduction" class="w-fit px-8 my-4 text-center mx-auto block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 rounded">
        GET STARTED
      </a>
    </div>
	</main>
</Layout>
