<div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
    <p class="font-bold">Old version!</p>
    <p>This documentation is for version <code>3.*</code> of the project.
    Go to the <a href="/docs">most recent version</a> of the project documentation if you're looking for the latest version.
    </p>
</div>
