# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Test

on: # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - 'src/**'
      - 'includes/**'
      - 'tests/**'
      - 'composer.json'
      - '.github/workflows/test.yaml'
  push:
    paths:
      - 'src/**'
      - 'includes/**'
      - 'tests/**'
      - 'composer.json'
      - '.github/workflows/test.yaml'
    branches:
      - "v3.5"

permissions:
  contents: "read"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        php_version: [ '7.1', '7.2', '7.3', '7.4' ]
        suite:
          - acceptance
          - climodule
          - functional
          - muloader
          - unit
          - webdriver
          - wpcli_module
          - wploader_multisite
          - wploader_wpdb_interaction
          - wploadersuite
    name: v3.5 ${{ matrix.suite }} php@${{ matrix.php_version }}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          extensions: uopz, sqlite3, gd
          ini-values: post_max_size=256M, max_execution_time=180, uopz.exit=1
          tools: composer

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Restore Composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php_version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer update

      - name: Update ChromeDriver
        run: vendor/bin/codecept chromedriver:update --binary /usr/bin/google-chrome

      - name: Create var/wordpress directory
        run: mkdir -p var/wordpress

      - name: Start services
        run: vendor/bin/codecept dev:start

      - name: Setup WordPress
        run: php bin/setup-wp.php

      - name: Run tests
        id: test
        run: vendor/bin/codecept run ${{ matrix.suite }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: v3.5-${{ matrix.suite }}-php@${{ matrix.php_version }}-screenshots
          path: |
            var/_output/*.html
            var/_output/*.png
          retention-days: 3
